body {
  margin: 2%;
  background: #ffffff;
  font-family: Verdana Pro Cond;
}
h1 {
  width: 100%;
  height: 10vh;
  display: flex;
  font-size: 5rem;
  color: skyblue;
  justify-content: center;
  font-family: Verdana Pro Cond Black;
  align-items: center;
}
.container {
  width: 100%;
  height: 10vh;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
.led-red {
  margin: 50px;
  width: 12px;
  height: 12px;
  background-color: #f32a2a;
  border-radius: 50%;
  box-shadow: #d61919 0 -1px 7px 1px, inset #fa6262 0 -1px 9px, #f00 0 2px 12px;
}
.led-green {
  margin-right: 50px;
  width: 12px;
  height: 12px;
  background-color: rgb(169, 226, 55);
  border-radius: 50%;
  box-shadow: rgb(168, 248, 115) 0 -1px 7px 1px, inset #5af345e1 0 -1px 9px,
    #7d0 0 2px 12px;
}
#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 8vh;
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  color: rgb(255, 136, 0);
  font-family: Verdana Pro Cond Black;
  background: rgba(31, 21, 21, 0.856);
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
